@page "/about"

<NavMenu />

<section class="platinum">
    <header class="with-motif opal">
        <h1>What&rsquo;s DevNxt all about?</h1>
    </header>
    <div>
        <h2>DevNxt is a "people-facing" technology conference</h2>
        <p>
            We love attending technical conferences. Codemania, Microsoft Ignite, WDC, KawaiiCon&hellip; they offer some great topics and 
            have uniformly brilliant speakers, but we thought something was missing. What is there for the senior developers, the technical 
            leads, the engineering managers who are looking at ways to help their teams and decide where to devote more of their efforts 
            in the personal growth and people-facing skills?
        </p>
        <p>
            That&rsquo;s why Peter and Phil decided to create DevNxt. DevNxt is a conference for aspiring people leaders, team contributors, 
            and all the other generative roles out there in the technical space of software product delivery. It doesn&rsquo;t matter what 
            your tech stack is; the unifying theme across all technology problems is that there are no technology problems. Only 
            people-facing problems.
        </p>
        <p>
            DevNxt is a full day of respected and recognised technical leaders speaking on a range of topics that will apply to all levels 
            of your business technology capability. From senior developers, architects, team leaders and team members aspiring to move into 
            leadership roles (or even those who are unsure if it&rsquo;s the right thing for them), our speaker topics will provide a 
            personal and insightful window into those next steps.
        </p>
        <p>
            Technology is a great career path, but where to next? Come along and find out!
        </p>

        <div class="signatories" >
            <p>
                Phil Wheeler<br/>
                <span>phil@devnxt.nz</span>
            </p>
            <p>
                Peter Bayne<br/>
                <span>peter@devnxt.nz</span>
            </p>
        </div>
    </div>
</section>