@page "/"
@inject HttpClient Http

<NavMenu />

<section class="home" id="home-section">
      <header>
          <img src="/img/DevNxt-logo-orange.png" alt="DevNxt conference logo" class="header-logo">
          <p class="strip">May 6 2022</p>
      </header>
      <div>
          <p class="byline">
              New Zealand&rsquo;s premier boutique conference for technology people
          </p>
          <div class="cta">
              <a href="/about" class="button">Find out more</a> 
              <a href="/purchase" class="button primary">Purchase tickets</a>
          </div>
      </div>

</section>
<section id="taglinesection" class="orange" >
  <p class="jumbo with-motif">
    IT is your life.  Enjoy IT
  </p>
</section>
<section class="platinum">
    <header id="speakers" class="with-motif tan">
        <h1>Speakers</h1>
    </header>
    <div>
        <h2>Our 2022 Speakers</h2>
        <div class="speaker-grid">
            @if (speakers == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                foreach(Presenter speaker in speakers){
                    <Speaker Presenting=@speaker />
                }
            }
        </div>
    </div>
</section>
<section class="opal">
    <header id="sponsors" class="with-motif tan">
        <h1>Sponsors</h1>
    </header>
    <div>
        <h2>Our Awesome Sponsors</h2>
        <div class="speaker-grid">

        </div>
    </div>
</section>


@code {
    private Presenter[] speakers;

    protected override async Task OnInitializedAsync()
    {
        speakers = await Http.GetFromJsonAsync<Presenter[]>("sample-data/speaker-data.json");
    }

}