@page "/purchase"

<DefaultNavMenu />

<section class="tan-t" >
  <div class="left-image-fill" style="background-image:url('/img/purchase-bg.jpg');"></div>
  <div class="right-opal-box">
    <header >
        <h1>Let&rsquo;s do this!</h1>
    </header>
    <div class="">
        <p  class="byline">
            We use another great NZ company <i>Lil Regie</i> to handle ticketing and sales.
        </p>
        <p class="cta">
          <a class="button primary" href="https://devnxt.lilregie.com/booking/attendees/new" title="https://devnxt.lilregie.com" target="_blank">Get your tickets here</a>
        </p>
    </div>
  </div>
</section>