<footer class="orange">
    <div class="social">
        <ul>
            <li><a href="https://twitter.com/DevNext_NZ" target="_blank">Twitter</a></li>
            <li><a href="https://www.facebook.com/DevNxt.NZ" target="_blank">Facebook</a></li>
        </ul>
    </div>
    <div class="links">
        <ul>
            <li><NavLink href="/about" Match="NavLinkMatch.All">About</NavLink></li>
            <li><NavLink href="/cofc" Match="NavLinkMatch.All">Code of conduct</NavLink></li>
        </ul>
    </div>
</footer>